h1 a, h1 a:hover {
    color: #333;
}

#translations {
    font-size: .9rem;
    color: #3A3A3A;
}

#translations * + * {
    margin-left: 3px;
}

footer, footer a {
    color: #777;
}

footer {
    margin: 2.5rem auto 0;
    padding-top: .8rem;
    width: 94%;
    border-top: 1px solid #BBB;
    text-align: center;
}

footer a {
    text-decoration: underline;
}

.guess-text-card p.card-text {
    font-size: 1.3rem;
}

#score {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

#after-answer {
    text-align: center;
    font-size: 1.3rem;
    margin: 1.2rem 0;
}


#after-answer .wikilink {
    margin-bottom: 0;
    font-size: 1rem !important;
}

#after-answer p {
    margin-top: 0;
}

.btn.btn-primary {
    font-size: 1.2rem;
}

#after-answer aside {
    font-size: 1rem;
    text-align: left;
}

#after-answer aside h5 {
    text-align: center;
}

#after-answer aside p {
    margin-bottom: 0;
}

#hide-video {
    width: 100%;
    background: #BBB;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    transition: height 200ms, padding 200ms;
}

.embed-responsive:hover #hide-video {
    height: 89%;
    padding-top: 6.2%;
}

@media only screen and (max-width: 1200px) {
    .embed-responsive:hover #hide-video {
        height: 88%;
        padding-top: 6.7%;
    }
}

@media only screen and (max-width: 768px) {
    .embed-responsive:hover #hide-video {
        height: 83%;
        padding-top: 9.6%;
    }
}

@media only screen and (max-width: 576px) {
    .embed-responsive:hover #hide-video {
        height: 79%;
        padding-top: 0;
    }
    .btn.btn-primary {
        font-size: 1.1rem;
    }
}